img {
  width: 100%;
  height: 100%; }

.gallery {
  height: 100%; }
  @media only screen and (max-width: 1280px) {
    .gallery {
      width: 100%; }
      .gallery .image-block_first, .gallery .image-block_last {
        width: 200px;
        min-height: 240px;
        margin: 2px;
        float: left; } }
  @media only screen and (max-width: 320px) {
    .gallery {
      height: 90%; }
      .gallery .image-block_first, .gallery .image-block_last {
        width: 300px;
        height: 360px;
        margin: 10px 2px; }
        .gallery .image-block_first .image-block__image, .gallery .image-block_last .image-block__image {
          width: 100%;
          height: 100%;
          margin: 0; } }

/*# sourceMappingURL=gallery.css.map */
