$large: 1280px;
$medium: 768px;
$small: 320px;

@mixin respond-to ($media) {

  @if $media == large {
    @media only screen and (max-width: $large) { @content; }
  }

  @if $media == middle {
    @media only screen and (max-width: $medium) { @content; }
  }

  @if $media == small {
    @media only screen and (max-width: $small) { @content; }
  }

}
img {
  width: 100%;
  height: 100%;
}

.gallery {
  height: 100%;
  @include respond-to (large) {
    width: 100%;
    .image-block_first, .image-block_last {
      width: 200px;
      min-height: 240px;
      margin: 2px;
      float: left;
    }
  }
  @include respond-to (middle) {
    .image-block_first, .image-block_last {
    }
  }
  @include respond-to (small) {
    height: 90%;
    .image-block_first, .image-block_last {
      width: 300px;
      height: 360px;
      margin: 10px 2px;
      .image-block__image {
        width: 100%;
        height: 100%;
        margin: 0;
      }
    }
  }
}
