$sizeX: 680px;
$large: 1280px;
$medium: 768px;
$small: 320px;

@mixin respond-to ($media) {

  @if $media == large {
    @media only screen and (max-width: $large) { @content; }
  }

  @if $media == middle {
    @media only screen and (max-width: $medium) { @content; }
  }

  @if $media == small {
    @media only screen and (max-width: $small) { @content; }
  }

}

.image-block_container {
  width: $sizeX;
  @include respond-to(large) {
    width: 68%;
    min-height: 260px;
  };
  @include respond-to(middle) {
    width: 72%;
    img {
      width: 100%
    }
    margin: 0;
    .image-block__image {
      width: 30%;
      margin: 10px 6px;
    }
  }
  @include respond-to(small) {
    width: 100%;
    height: 100%;
    .image-block__image {
      width: 46%;
      margin: 4px;
    }
  }
}
