.image-block_container {
  width: 680px; }
  @media only screen and (max-width: 1280px) {
    .image-block_container {
      width: 68%;
      min-height: 260px; } }
  @media only screen and (max-width: 768px) {
    .image-block_container {
      width: 72%;
      margin: 0; }
      .image-block_container img {
        width: 100%; }
      .image-block_container .image-block__image {
        width: 30%;
        margin: 10px 6px; } }
  @media only screen and (max-width: 320px) {
    .image-block_container {
      width: 100%;
      height: 100%; }
      .image-block_container .image-block__image {
        width: 46%;
        margin: 4px; } }

/*# sourceMappingURL=image-block_container.css.map */
